.github/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.prettierignore
CHANGELOG.md
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
release.config.js
.nyc_output/**
